$icon-font-path: '../fonts/';

@at-root {
  @font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu-regular-webfont.eot');
    src: url('../fonts/ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ubuntu-regular-webfont.woff2') format('woff2'),
    url('../fonts/ubuntu-regular-webfont.woff') format('woff'),
    url('../fonts/ubuntu-regular-webfont.ttf') format('truetype'),
    url('../fonts/ubuntu-regular-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

$font-family-sans-serif: 'Ubuntu', sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;

$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

$footer-height: 40px;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/eonasdan-bootstrap-datetimepicker/src/sass/bootstrap-datetimepicker-build.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
@import "bower_components/sweetalert/dev/sweetalert.scss";
@import "bower_components/select2/src/scss/core.scss";
@import "bower_components/select2-bootstrap-theme/src/select2-bootstrap.scss";
@import "bower_components/magnific-popup/src/css/main.scss";
// endbower

@import "partials/animations";

html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: 50px;
  margin-bottom: $footer-height;
  padding-bottom: 30px;

  .user-image {
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }

  footer.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: $footer-height;
    background-color: #f5f5f5;

    p {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

.editor-toolbar.fullscreen {
  top: 50px !important;
}

.CodeMirror-fullscreen {
  top: 100px !important;
  bottom: $footer-height !important;
}

.editor-preview-side {
  top: 100px !important;
  bottom: $footer-height !important;
}

.table tbody>tr>td {
  vertical-align: middle;
}

.pagination {
  margin: 0;
}

.index-title {
  margin-bottom: 20px;

  h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.breadcrumb-container {
  background-color: $breadcrumb-bg;
  margin-bottom: 20px;

  ol.breadcrumb {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.crud-form {
  padding-top: 30px;
}

.mfp-with-zoom {
  .mfp-container, &.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  &.mfp-ready {
    .mfp-container {
      opacity: 1;
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  &.mfp-removing {
    .mfp-container, &.mfp-bg {
      opacity: 0;
    }
  }
}
